main.confirmacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #FFF 0%, #A4DFFA 100%);

}


.form-confirm{
    flex-shrink: 0;
    background: linear-gradient(180deg, #D9D9D9 0%, #00B4D8 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}


.titulo-confirm{
    color: #000;
    font-family: Patua One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.formulario{
    flex-shrink: 0;
    background: #157EFB;
}


p.info{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #FFF;
}


h3.titulo-info{
    display: flex;
    color: #FFF;
    font-family: Patua One;
    font-size: 24px;
    font-style: normal;
    justify-content: center;

}



.botao-voltar{
    color: #157EFB;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Patua One;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    display: flex;
    padding: 25px 56px;
    justify-content: center;
    align-items: center;
    background: #FFF;
}


.botao-avancar{
    display: flex;
    padding: 25px 15px 25px 14px;
    justify-content: center;
    align-items: center;
    background: #425AB0;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Patua One;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.navegacao div{
        display: flex;
        justify-content: space-around;
}