img{
    width: 50px;
    height: 50px;
}

/*
título
*/
legend{
    color: #000;
    font-family: Patua One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
};

/*
fundo
*/
fieldset{
display: flex;
width: 1200px;
height: 1475px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 100px;
flex-shrink: 0;
background: linear-gradient(180deg, #FFF 0%, #A4DFFA 100%);
};

/*
gradiente
*/
.caixa{
width: 1000px;
height: 1000px;
flex-shrink: 0;
background: linear-gradient(180deg, #D9D9D9 0%, #00B4D8 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
};

/*
mini-retangulos
*/
.quadro{
display: flex;
width: 200px;
padding: 13px 12px 6px 13px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 6px;
background: #157EFB;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*
botoes
*/
.botao-enviar{
display: flex;
height: 25px;
padding: 4px 28px 3px 28px;
justify-content: center;
align-items: center;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
};

/* color: #000;
font-family: Patua One;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal; */


/*
voltar
*/
.botao-voltar{
display: inline-flex;
padding: 25px 56px;
justify-content: center;
align-items: center;
background: #FFF;
};

.texto-voltar{
color: #157EFB;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Patua One;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
};

/*
avançar
*/
.botao-avancar{
display: inline-flex;
padding: 25px;
justify-content: center;
align-items: center;
background: #425AB0;
};

.texto-avancar{
color: rgba(255, 255, 255, 0.95);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Patua One;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
};