.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-plano {
    width: 80%;
    height: auto;
    padding: 30px;
}

.titulo-plano{
    color: rgba(0, 0, 0, 0.85);
    font-size: 50px;
    font-family: Patua One;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border: 0px;
    word-wrap: break-word;
}

.beneficios{
    padding: 0px 35px;
}

.beneficios li{
    text-align: justify;
    padding: 0px;
    margin: 0px;
    border: 0px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Patua One;
    font-weight: bold;
}

.plano {
    width: 42%;
    height: 650px ;
    background: linear-gradient(180deg, #D9D9D9 0%, #00B4D8 100%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
}

.beneficios-elite li{
    text-align: justify;
    padding: 0px 40px;
    margin: 0px;
    border: 0px;
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.70);
    font-size: 20px;
    font-family: Patua One;
    font-weight: bold;
}
.imagem-plano-elite{
    height: auto;
    padding: 30px;
    width: auto;
}
.plano-elite {
    width: 92%;
    height: 500px ;
    background: linear-gradient(180deg, #D9D9D9 0%, #00B4D8 100%);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
}

.planos{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 20px 0px;
}

.vistoria{
padding: 16px;
}

.botao-vistoria{
    width: 50%;
    background: #425AB0;
}

.texto-vistoria{
    color: rgba(255, 255, 255, 0.95);
    font-size: 64px;
    font-family: Patua One;
    font-weight: bold;
    word-wrap: break-word
}